@media (max-width:1000px) and (min-width:768px) {

    .menu-div ul li {
        padding: 5px;
    }

    .cover-1 {
        height: 370px;
        width: 49.7%;
        background-size: 100% 100%;
    }

    .cover-2 {
        height: 370px;
        width: 49.7%;
        background-size: 100% 100%;
    }

    .cover-3 {
        display: none;
    }

    .cover-1:hover {
        width: 49.7%;
        height: 370px;
        background-image: linear-gradient(to right, #0000000f, #00000049), url('images/cover-1.jpg');

    }

    .cover-2:hover {
        width: 49.7%;
        height: 370px;
        background-image: linear-gradient(to right, #0000000f, #00000049), url('images/cover-2.jpg');

    }

    .card-1 {
        width: 38%;
        height: 300px;
    }

    .card-2 {
        width: 59%;
        height: 300px;
    }

    .card-3 {
        width: 59%;
        height: 300px;
    }

    .card-4 {
        width: 38%;
        height: 300px;
    }

    .t-product {
        height: 400px;
        width: 47%;
        margin-inline: 10px;
    }

    .justify-div {
        width: 100%;
    }

    .li1 {
        font-size: 1em;
        font-weight: 500;
    }

    .profile-1 {
        height: 100px;
        width: 100px;
    }

    .profile-2 {
        height: 100px;
        width: 100px;
    }

    .profile-3 {
        height: 100px;
        width: 100px;
    }

    .profile-4 {
        height: 100px;
        width: 100px;
    }

    .profile-5 {
        height: 100px;
        width: 100px;
    }

    .profile-6 {
        height: 100px;
        width: 100px;
    }


    .shopper-brand-section img {
        height: 30px;
        width: 75px;
        margin-inline: 10px;
    }

    .footer {
        height: 700px;
        padding-top: 4rem;
        padding-bottom: 2rem;

    }

    .bg-footer {
        height: 800px;
    }

    .footer-info-1 {
        width: 100%;
        height: 80px;
    }

    .footer-info-2 {
        width: 25%;
        height: 200px;
        font-size: 18px;
    }


}